<!-- Menu do usuário -->
<div class="nav-item dropdown">

    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" 
       data-bs-toggle="dropdown"
       aria-label="Abrir o menu pessoal">

        <span class="avatar avatar-sm">
            <span class="avatar" style="background-color: #ae3ec9; color: #ffffff" title="admin separado">
            </span>
        </span>

        <div class="d-none d-xl-block ps-2">
            <div>admin</div>
        </div>

    </a>

    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a href="#" class="dropdown-item">Mudar Senha</a>
        <div class="dropdown-divider"></div>
        <a href="{{ path('app_logout') }}" class="dropdown-item">Sair</a>
    </div>

</div>
<!-- Fim Menu Usuario-->