<div class="card-body">
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <table class="table table-bordered table-condensed table-hover table-datatable">
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Icone</th>
                </tr>
            </thead>
            <tbody>


                <tr><td>ti ti-server</td><td><span class="ti ti-server"></span></td></tr>
                <tr><td>ti ti-devices-pc</td><td><span class="ti ti-devices-pc"></span></td></tr>
                <tr><td>ti ti-database</td><td><span class="ti ti-database"></span></td></tr>
                <tr><td>ti ti-device-desktop</td><td><span class="ti ti-device-desktop"></span></td></tr>
                <tr><td>ti ti-device-tablet</td><td><span class="ti ti-device-tablet"></span></td></tr>
                <tr><td>ti ti-sitemap</td><td><span class="ti ti-sitemap"></span></td></tr>
                <tr><td>ti ti-device-laptop</td><td><span class="ti ti-device-laptop"></span></td></tr>
                <tr><td>ti ti-printer</td><td><span class="ti ti-printer"></span></td></tr>
                <tr><td>ti ti-device-mobile</td><td><span class="ti ti-device-mobile"></span></td></tr>
                <tr><td>ti ti-battery-4</td><td><span class="ti ti-battery-4"></span></td></tr>
                <tr><td>ti ti-mouse-2</td><td><span class="ti ti-mouse-2"></span></td></tr>
                <tr><td>ti ti-keyboard</td><td><span class="ti ti-keyboard"></span></td></tr>
                <tr><td>ti ti-camera</td><td><span class="ti ti-camera"></span></td></tr>
                <tr><td>ti ti-headset</td><td><span class="ti ti-headset"></span></td></tr>
                <tr><td>ti ti-headphones</td><td><span class="ti ti-headphones"></span></td></tr>
                <tr><td>ti ti-phone</td><td><span class="ti ti-phone"></span></td></tr>
                <tr><td>ti ti-microphone-2</td><td><span class="ti ti-microphone-2"></span></td></tr>
                <tr><td>ti ti-router</td><td><span class="ti ti-router"></span></td></tr>
                <tr><td>ti ti-wifi</td><td><span class="ti ti-wifi"></span></td></tr>

            </tbody>
        </table>
          </div>

</div>