<!-- Menu do usuário -->
<div class="nav-item dropdown">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
       aria-label="Abrir o menu pessoal">
        <span class="avatar avatar-sm">

            <span class="avatar" style="background-color: #E91E63; color: #ffffff" title="admin">AD
            </span>

        </span>

        <div class="d-none d-xl-block ps-2">
            <div>admin</div>
        </div>
    </a>

    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
        <a href="/pt_BR/profile/admin/password" class="dropdown-item">Mudar Senha</a>
        <div class="dropdown-divider"></div>
        <a href="/pt_BR/logout" class="dropdown-item">Sair</a>
    </div>

</div>
<!-- Fim Menu Usuario-->