{{ form_start(form) }}
    {{ form_widget(form) }}
    <span class="form-label"></span>
    <button type="submit" class="btn btn-{{ button_color }}">
        <span class="ti ti-device-floppy"></span>
    </button>
{{ form_end(form) }}
